.addTaskbutton,
.orderButton{
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.addTaskbutton{
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}
.orderButton{
    background-color: var(--secondary);
    color: var(--light);
    border-radius: 5px;
}






