.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight{
    display: flex;
    align-items: center;
}
#dateNumber{
    font-size: 50px;
}
#dateText{
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText{
    font-weight: bold;
}
#dateMonth,
#dateYear{
    margin-left: 7px;
    font-size: 20px;
}










