@font-face {
    font-family: lato;
    src: url(../font/lato/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: lato;
    src: url(../font/lato/Lato-Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: lato;
    src: url(../font/lato/Lato-Bold.ttf);
    
}