.task{
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}
.task.done{
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}